{% extends "base.html" %}

{% block main_content %}

<h1>Post your review about {{bname}}</h1>

<form method="post" action="">
    <fieldset>
    <legend>Your review</legend>
    <table>
    <tr><td><label for="rating" accesskey="r">Your rating:</label></td>
        <td><input id="rating" type="number" name="rating" step="0.5" min="0" max="5"></td></tr>
    <tr><td><label for="content" accesskey="c"></label></td>
        <p>Your Review: <p>
        <textarea id="content" type="text" name="content" rows="10" cols="30" wrap="soft"></textarea>
    </table>
    </fieldset>
    
    <p> <input type='submit' value='Post Review'> </p>
</form>

{% endblock %}
